
WpfApp1/bin/Debug/Newtonsoft.Json.dll
WpfApp1/bin/Debug/Newtonsoft.Json.xml
WpfApp1/bin/Debug/ServiceStack.Text.dll
WpfApp1/bin/Debug/ServiceStack.Text.xml
WpfApp1/bin/Debug/System.Buffers.dll
WpfApp1/bin/Debug/System.Buffers.xml
WpfApp1/bin/Debug/System.Memory.dll
WpfApp1/bin/Debug/System.Memory.xml
WpfApp1/bin/Debug/System.Numerics.Vectors.dll
WpfApp1/bin/Debug/System.Numerics.Vectors.xml
WpfApp1/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
WpfApp1/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
WpfApp1/bin/Debug/WpfApp1.exe
WpfApp1/bin/Debug/WpfApp1.exe.config
WpfApp1/bin/Debug/WpfApp1.pdb
WpfApp1/obj/Debug/App.g.cs
WpfApp1/obj/Debug/App.g.i.cs
WpfApp1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WpfApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WpfApp1/obj/Debug/Diagram.g.i.cs
WpfApp1/obj/Debug/GeneratedInternalTypeHelper.g.cs
WpfApp1/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
WpfApp1/obj/Debug/MainWindow.baml
WpfApp1/obj/Debug/MainWindow.g.cs
WpfApp1/obj/Debug/MainWindow.g.i.cs
WpfApp1/obj/Debug/WpfApp1.csproj.CopyComplete
WpfApp1/obj/Debug/WpfApp1.csproj.FileListAbsolute.txt
WpfApp1/obj/Debug/WpfApp1.csproj.GenerateResource.cache
WpfApp1/obj/Debug/WpfApp1.csprojAssemblyReference.cache
WpfApp1/obj/Debug/WpfApp1.exe
WpfApp1/obj/Debug/WpfApp1.g.resources
WpfApp1/obj/Debug/WpfApp1.pdb
WpfApp1/obj/Debug/WpfApp1.Properties.Resources.resources
WpfApp1/obj/Debug/WpfApp1_MarkupCompile.cache
WpfApp1/obj/Debug/WpfApp1_MarkupCompile.i.cache
WpfApp1/obj/Debug/WpfApp1_MarkupCompile.i.lref
WpfApp1/obj/Debug/WpfApp1_MarkupCompile.lref
